# Ignores compiled TypeScript files.
*.js

# Allow config files written in javascript files.
!.*.js

# Allow ffmepg/autoflip wasm files written in javascript files.
!ffmpeg.js
!*_api*.js
!autoflip_demo_UI/autoflip_wasm/*

# Ingore all node_modules
node_modules
